* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Oswald';
	src: url("./fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
	font-family: 'Staatliches';
	src: url("./fonts/Staatliches-Regular.ttf");
}

body {
	background-color: #797A79;
}

html,
body {
	width: 100%;
	height: 100%;
}

input {
	text-align: right;
}

div.app {
	position: relative;
	width: 100%;
	height: 100%;
}

button {
	font-family: "Oswald";
	background-color: #565756;
	/* height: 35px; */
	color: white;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
}

button:hover {
	background: rgba(255, 255, 255, .2);
}

button:active {
	background: white;
}

div.func-about {
	font-family: "Oswald";
	position: absolute;
	left: 25%;
	top: 13%;
}

div.header {
	display: grid;
	grid-template-columns: 10px 100px 760px 30px 30px 22px;
	height: 25px;
	background-color: #565756;
}

div.version {
	margin-top: 2px;
}

div.header>div.title {
	-webkit-app-region: drag;
}

div.btn-close {
	margin-top: 1px;
}

div.btn-close>img:hover {
	background-color: #B5123E;
	border-radius: 4px;
}

div.btn-turn {
	margin-top: 1px;
}

div.btn-turn>img:hover {
	background-color: #3A3B3A;
}

div.btn-full {
	margin-top: 1px;
}

div.app-title {
	display: grid;
	grid-template-columns: 10px 40px 140px 50px 400px;
	background-color: #6f706f;
	height: 40px;
}

div.app-title>div.icon {
	margin-top: 2px;
}

div.app-title>div.app-name {
	font-family: "Staatliches";
	color: #323332;
	font-size: 30px;
	margin-top: 5px;
	background: url(img/snow.gif);
	height: 30px;
	width:128px;
}

div.user-name {
	font-family: "Oswald";
	font-size: 14px;
	color: #C8CCC8;
	vertical-align: middle;
	margin-top: 5px;
}

div.user-name > span.profile-name {
	margin-left: 5px;
}

img.profile-icon {
	vertical-align: middle;
	border-radius: 5px;
}

div.logs-title {
	font-family: "Oswald";
	color: black;
	font-size: 25px;
}

div.update-news {
	position: absolute;
	left: 73%;
	top: 18%;
	font-family: "Oswald";
	font-size: 12px;
	background-color: #F7FFF2;
	width: 250px;
	height: 470px;
	border-radius: 5px;
	overflow-y: scroll;

}

ul.nav {
	font-family: "Oswald";
	width: 220px;
}

ul.nav>li {
	background-color: #565756;
	height: 35px;
	cursor: pointer;
}

ul.nav>li:hover {
	color: #F7FAF7;
}


ul.nav>li>img {
	margin-top: 5px;
	margin-left: 10px;
	width: 10%;
	vertical-align: middle;
}

ul.nav>li>p {
	display: inline;
	padding-left: 20px;
	vertical-align: middle;
}

ul.nav>div.profile {
	height: 241px;
	background-color: #565756;
	padding-left: 10px;
	padding-top: 5px;
}

span.profile-bal-market {
	display:inline-block;
	width: 85px;
}

img.refresh-icon {
	margin-bottom: 2px;
	margin-left: 2px;
	vertical-align: middle;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.refresh-icon:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

img.refresh-icon:active {
  background-color: #F7FAF7;
}

img.refresh-icon-status, img.refresh-icon-min, img.refresh-icon-best, img.refresh-icon-stPrice {
	margin-right: 10px;
	vertical-align: middle;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .9s ease-in-out;
          transition:         transform .9s ease-in-out;
}

img.refresh-icon-status:hover, img.refresh-icon-min:hover, img.refresh-icon-best:hover, img.refresh-icon-stPrice:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

img.refresh-icon-status:active, img.refresh-icon-min:active, img.refresh-icon-best:active, img.refresh-icon-stPrice:active {
  background-color: #F7FAF7;
}


div.status {
	font-size: 14px;
}


ul.nav>hr {
	height: 4px;
	border-color: black;
}

/* #logs-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-34%, -43%);
	resize: none;
	background-color: #DEE0DE;
} */

div.func-app-reg {
	position: absolute;
	top: 18%;
	left: 74%;
	/* transform: translate(-34%, -43%); */
}

div.func-app-set {
 position: absolute;
 top: 18%;
 left: 86%;
}

button.btn-refresh-set {
	width:110.15px;
}


div.func-app-reg>div>button,
div.btn-start-stop>div>button,
div.func-app-set>div>button,
div.btn-start-stop-set>div>button {
	font-family: "Oswald";
	background-color: #565756;
	height: 35px;
	display: inline-block;
	color: white;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
	margin-bottom: 5px;
}

div.func-app-reg>div>button:hover,
div.btn-start-stop>div>button:hover,
div.func-app-set>div>button:hover,
div.btn-start-stop-set>div>button:hover {
	background: rgba(255, 255, 255, .2);
}

div.func-app-reg>div>button:active,
div.btn-start-stop>div>button:active,
div.func-app-set>div>button:active,
div.btn-start-stop-set>div>button:active {
	background: white;
}

div.btn-start-stop {
	display: grid;
	grid-template-columns: 80px 67px 80px 10px;
}

div.btn-start-stop-set {
	display: grid;
}

div.item-details {
	font-family: "Oswald";
	font-size: 15px;
	display:block;
	position: absolute;
	left: 74%;
	top: 35%;
}

div.item-details > p > span {
	font-size: 12px;
	color: #C8CCC8;
}

div.reg-area>div.reg-area-title {
	font-family: "Oswald";
	position: absolute;
	left: 23%;
	top: 13%;
	display: grid;
	grid-template-columns: 20px 280px 70px 20px 70px;
}
div.set-area>div.set-area-title {
	font-family: "Oswald";
	position: absolute;
	left: 23%;
	top: 13%;
	display: grid;
	grid-template-columns: 20px 280px 70px 20px 90px 30px 70px 20px;
}

div.items-info-reg {
	overflow-y: scroll;
	font-family: "Oswald";
	font-size: 12px;
	position: absolute;
	background-color: white;
	border-radius: 5px;
	top: 18%;
	left: 24%;
	width: 470px;
	height: 470px;
}

div.items-info-set{
	overflow-y: scroll;
	font-family: "Oswald";
	font-size: 12px;
	position: absolute;
	background-color: white;
	border-radius: 5px;
	top: 18%;
	left: 24%;
	width: 580px;
	height: 470px;
}

ul.items-content-reg>li {
	margin-left: 10px;
	margin-right: 10px;
	display: grid;
	grid-template-columns: 280px 90px 90px;
}

ul.items-content-set>li {
	margin-left: 10px;
	margin-right: 10px;
	display: grid;
	grid-template-columns: 280px 90px 105px 90px;
}

ul.items-content-reg>li:hover, ul.items-content-set>li:hover {
	background-color: yellow;
}

ul.items-content-reg>li>input {
	width: 70px;
	height: 20px;
	margin-top: 2px;
}

ul.items-content-set>li>input {
	width: 70px;
	height: 20px;
	margin-top: 2px;
}

div.func-logs-title {
	font-family: "Oswald";
	font-size: 20px;
	position: absolute;
	left: 22%;
	display: grid;
	grid-template-columns: 30px 100px 435px 100px ;
}

ul.logs-table {
	margin-top: 5px;
}

div.update-new {
	width: 20px;
}

div.logs-area {
	font-family: "Oswald";
	font-size: 12px;
	position: absolute;
	background-color: white;
	top: 18%;
	left: 24%;
	width: 450px;
	height: 470px;
	border-radius: 5px;
	overflow-y: scroll;

}

ul.logs-table>li {
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: none;
}

ul.logs-table>li:hover {
	background-color: yellow;
}

span.time {
	margin-right: 5px;
}

div.func-calc {
  font-family: "Oswald";
  position: absolute;
  top: 13%;
	left: 25.3%;
}

.calc {
  display: inline-table;
  padding-right: 10px;


}

.calc_input {
  margin-top: 10px;

}

div.func-settings {
	font-family: "Oswald";
	position: absolute;
	left: 25%;
	top:13%;

}

div.func-settings > div.name {
	width: 100px;
}

div.func-settings > div.name > input {
	text-align: center;
	width: 300px;
}

div.status-code-div {
	font-family: "Oswald";

}

span.hide-info {
	margin-left: 6px;
	position: absolute;
	font-size: 11px;
	font-style: italic;
	width:200px;

}

img.item-image {


	margin-left: 40px;
	margin-right: 40px;


}

input{
	border-radius: 5px;
}

button.btn-load-data{
	width: 110.15px;
}

.wait-data {
	font-family: "Oswald";
	font-size: : 12px;
	color: #C8CCC8;
}

div.settings-reg {
	position: absolute;
	top: 94%;
	left: 58.5%;

}

div.settings-reg > button {
	margin-right: 5px;

}


div.autobuy-logs {
	font-family: "Oswald";
	font-size: 12px;
	position: absolute;
	background-color: white;
	top: 12%;
	left: 24%;
	width: 420px;
	height: 505px;
	border-radius: 5px;
	overflow-y: scroll;

}

ul.autobuy-logs-table>li {
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: none;
}

ul.autobuy-logs-table>li:hover {
	background-color: yellow;
}

div.func-btn-autobuy{
	font-family: "Oswald";
	position:absolute;
	left: 70%;
	top:12%;
}

div.func-btn-autobuy > button{
	width: 50px;
	margin-left: 5px;
}

.settings-block-autobuy {
	white-space: nowrap;
}
.settings-block-i-autobuy {
	white-space: normal;
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.settings-block-autobuy .settings-block-i-autobuy:first-child {
	margin-right: 4%;

}


span.text-det{
	position:absolute;
	left: 69%;
	top:74%;
}

span.text-det > p{
	display: block;
	font-size: 15px;
	font-family: "Oswald";
	font-style: italic;
}

div.steamguard-dialog {
	font-family: "Oswald";
}

div.sp-ind {
	width: 20px;
	height: 20px;
	position: absolute;
	top:60%;
	left:45%;
	background-color: #ff000066;
	border-radius: 1000px;
	/* green #3fff009e */
}

div.func-send {
	font-family: "Oswald";
	position: absolute;
	top:15%;
	left:24%;
}
